/* This is a compiled file, you should be editing the file in the templates directory */
body{
  background-attachment: fixed;
  background: linear-gradient(80deg,#e9e7e7, #e4dfdf, #e7dfdf);
}
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  z-index: 2000;
  position: fixed;
  height: 500px;
  width: 500px;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.pace.pace-inactive .pace-activity {
  display: none;
}

.pace .pace-activity {
  position: fixed;
  z-index: 2000;
  display: block;
  position: absolute;
  left: -30px;
  top: -30px;
  height: 500px;
  width: 500px;
  display: block;
  border-width: 30px;
  border-style: double;
  border-color: #2299dd transparent transparent;
  border-radius: 50%;

  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;

  -webkit-animation: spin 5s linear infinite;
  -moz-animation: spin 5s linear infinite;
  -o-animation: spin 5s linear infinite;
  animation: spin 1s linear infinite;
}

.pace .pace-activity:before {
  content: ' ';
  position: absolute;
  top: 10px;
  left: 10px;
  height: 450px;
  width: 450px;
  display: block;
  border-width: 10px;
  border-style: solid;
  border-color: #2299dd transparent transparent;
  border-radius: 50%;

  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.charge{
  position: absolute;
  width: 400px;
  height: 400px;
  left: 30%;
  top: 40%;

  font-size: xx-large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}
#text{
  animation: transition 2s linear infinite;
}
@keyframes transition{
  from{
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes spin {
  100% { -webkit-transform: rotate(359deg); }
}

@-moz-keyframes spin {
  100% { -moz-transform: rotate(359deg); }
}

@-o-keyframes spin {
  100% { -moz-transform: rotate(359deg); }
}

@keyframes spin {
  100% {  transform: rotate(359deg); }
}

